// .summary{
//     list-style: none;
// }
// .summary::after{
//     content: '\279C';
// }
// details[open] .summary::after{
//     content: '\1F817'

// }

@import 'mixins';
@import 'vars';

summary {
    display: block;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

.box-content{
    overflow: hidden;
}

#burger{
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked ~.nav{
        right: -232px;
    }
}


.nav{
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 78px;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: right .3s;
}

.filter-sort{
    height: 132px;
    position: relative;
    display: flex;
    gap: 30px;
    padding-top: 39px;
    box-sizing: border-box;
}
.filter{
    position: relative;
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    z-index: 10;

    &__content{
        background-color: #fff;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }
    

    &[open]{
        fill: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading{
        color:  $mainDecorateColor;
    }
    &[open] path{
        fill: $mainDecorateColor;
    }
    &__summary{
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }
    &__heading{
        @include normal_text;
        color: #000;
        font-size: 14px;
        font-weight: 600;
    }
    &__item{
        margin-top: 16px;
    }
    &__head{
        @include normal_text;
        color: $mainTextColor;
        font-size: 14px;
        font-weight: 400;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $mainDecorateColor;
    }
    &__link{
        color: #6F6E6E;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        &:hover{
            color: $mainDecorateColor;
        }
    }
    &__link-box{
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }
    &__item[open] .filter__head{
        color: $mainDecorateColor;
    }
}
.sort{
    padding-top: 12px;
    display: flex;
    gap: 18px;
    
    &__details{
        position: relative;
        z-index: 1;
    }

    &__summary{
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover{
            scale: 1.05;
            text-shadow: 4px 4px 4px #cfc8c8;
        }
    }

    &__heading{
        color: $mainTextColor;
        font-size: 14px;
        font-weight: 400;
    }

    &__check{
        @include normal_text;
        display: flex;
        gap: 9px;
        align-items: center;
        color: $mainTextColor;
        font-size: 14px;
        font-weight: 400;
    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}



// .custom-checkbox:checked + label::before {
//     border-color: #F16D7F;
//     background-color: #F16D7F;
//     background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e);
// }




// .sort {
//     display: flex;
//     gap: 48px;

//     .wrap_size {
//         margin-top: 5px;
//         display: flex;
//         flex-direction: column;
//         padding: 9px 30px 12px 9px;
//         background: #fff;
//         box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
//         gap: 6px;
//     }
// }

// svg {
//     margin-left: 10px;
// }
