@import 'mixins';
@import 'vars';

.registration{
    @include flex_between;
    padding-top: 64px;
    padding-bottom: 96px;
    align-items: flex-start;
    gap: 20px;


    &__left{
        display: flex;
        flex-direction: column;
        max-width: 360px; 
    }
    &__label{
        @include normal_text;
        color: #222;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    &__input{
        @include normal_text;
        color: #B1B1B1;
        font-size: 13px;
        font-weight: 300;
        border: 1px solid #A4A4A4;
        padding: 12px 16px 15px;
        margin-bottom: 20px;
    }
    &__input:hover{
        scale: 1.01;
        box-shadow: 5px 5px 5px rgb(223, 219, 219);
        transition: 0.15s;
        outline: none;
    }
    &__input:focus{
        outline: none;
    }
    &__radio{
        display: flex;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    &__text{
        @include normal_text;
        color: #B1B1B1;
        font-size: 13px;
        font-weight: 300;
    }
    &__btn{
        max-width: 167px;
        margin-top: 39px;
        padding: 16px 29px;
        background-color: $mainDecorateColor;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        border: none;
        @include normal_text;

        &_svg{
            margin-left: 20px;
        }
    }
    &__btn:hover{
        scale: 1.02;
        box-shadow: 7px 7px 7px rgb(217, 166, 166);
    }
    &__btn:focus{
        outline: none;
    }
    &__right{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 650px;
    }
    &__description{
        @include normal_text;
        color: #000;
        font-size: 24px;
        font-weight: 300;
        list-style-type: none;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 0;

        &_li::before{
            content: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z" fill="black"/></svg>');
            margin-right: 23px;
        }
    }
}
.gender{
    @include normal_text;
    color: #000;
    font-size: 11px;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 20px;
}

@media (max-width: 1024px) and 
(min-width: 768px){
    .registration{
        padding-top: 40px;
        gap: 22px;

        &__description{
            font-size: 16px;
        }
    }
}
@media (max-width: 767px) and 
(min-width: 375px){
    .registration{
        flex-direction: column;
        gap: 40px;
        
        &__description{
            font-size: 16px;
        }
    }
}




// .registration__radio_btn:checked + .gender:before {
//     border: 1px solid #F16D7F;
//     background: #F16D7F;
//     outline: 2px solid #FFFFFF;
//     outline-offset: -4px;
// }