.path {
  background-color: #F8F3F4;
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.path__title {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.path__breadcrumbs {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}
.path__breadcrumbs__decorated {
  color: #F16D7F;
}

.carousel {
  background-color: #F7f7f7;
  padding-top: 11px;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="dashicons:arrow-left-alt2"><path id="Vector" d="M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z" fill="black"/></g></svg>');
  background-color: rgba(42, 42, 42, 0.1490196078);
}

.carousel-control-prev-icon:hover path {
  fill: #F16D7F;
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="dashicons:arrow-right-alt2"><path id="Vector" d="M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z" fill="%23F16D7F"/></g></svg>');
  background-color: rgba(42, 42, 42, 0.1490196078);
}

.productcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
  padding-top: 60px;
  margin-bottom: 120px;
}
.productcard__collection {
  color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
.productcard__mark {
  border-bottom: 3px solid #F16D7F;
  width: 63px;
  margin-bottom: 12px;
}
.productcard__goodname {
  color: #636363;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}
.productcard__description {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #636363;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 32px;
}
.productcard__price {
  color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 62px;
}
.productcard__line {
  border-bottom: 1px solid #EAEAEA;
  width: 640px;
  margin-bottom: 65px;
}
.productcard__dropdown {
  display: flex;
  gap: 22px;
  margin-bottom: 48px;
}
.productcard__dropdown__item {
  color: #636363;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  margin-right: 9px;
}
.productcard__dropdown__item::after {
  content: url(./img/arror.png);
}
.productcard__dropdown__btn {
  border: 1px solid #F16D7F;
  padding: 15px 57px 15px 24px;
  color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 64px;
}
.productcard__dropdown__btn img {
  margin-right: 22px;
}/*# sourceMappingURL=product.css.map */