.path {
  background-color: #F8F3F4;
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.path__title {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
}
.path__breadcrumbs {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
}
.path__breadcrumbs__decorated {
  color: #F16D7F;
  font-weight: 700;
}
.path__breadcrumbs:not(:last-child)::after {
  content: " / ";
}

.carousel-wrapper {
  background-color: #F7f7f7;
  padding-top: 11px;
  padding-bottom: 50px;
  z-index: 2;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="dashicons:arrow-left-alt2"><path id="Vector" d="M21.6998 7.7499L13.9498 15.4999L21.6998 23.2499L20.1498 26.3499L9.2998 15.4999L20.1498 4.6499L21.6998 7.7499Z" fill="black"/></g></svg>');
  background-color: rgba(42, 42, 42, 0.1490196078);
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml,<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="dashicons:arrow-right-alt2"><path id="Vector" d="M9.2998 23.2499L17.0498 15.4999L9.2998 7.7499L10.8498 4.6499L21.6998 15.4999L10.8498 26.3499L9.2998 23.2499Z" fill="%23F16D7F"/></g></svg>');
  background-color: rgba(42, 42, 42, 0.1490196078);
}

.carousel-control-next, .carousel-control-prev {
  width: 2.5%;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
  justify-content: center;
}

.productcard {
  padding-top: 60px;
  margin-bottom: 120px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.productcard__wrapper {
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding-top: 64px;
  z-index: 1;
  margin-top: -110px;
}
.productcard__collection {
  color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 12px;
}
.productcard__mark {
  border-bottom: 3px solid #F16D7F;
  width: 63px;
  margin-bottom: 12px;
}
.productcard__goodname {
  color: #636363;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 48px;
}
.productcard__description {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #636363;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 32px;
  width: 555px;
}
.productcard__price {
  color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 62px;
}
.productcard__line {
  border-bottom: 1px solid #EAEAEA;
  width: 640px;
  margin-bottom: 65px;
}
.productcard__dropdown {
  display: flex;
  gap: 22px;
  margin-bottom: 48px;
}
.productcard__dropdown_item {
  color: #636363;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  margin-right: 9px;
}
.productcard__dropdown_item::after {
  content: url(./img/arror.png);
  margin-left: 7px;
}
.productcard__btn {
  border: 1px solid #F16D7F;
  padding: 15px 57px 15px 24px;
  color: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 64px;
}
.productcard__btn img {
  margin-right: 22px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .path {
    padding-top: 24px;
    padding-bottom: 46px;
    flex-direction: column;
    gap: 32px;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 47px;
  }
  .productcard {
    padding-top: 0;
  }
  .productcard__wrapper {
    margin-top: 0;
  }
  .productcard__description {
    width: 90%;
  }
  .productcard__line {
    width: 70%;
  }
  .productcard__dropdown_item {
    font-size: 10px;
  }
  .item__none {
    display: none;
  }
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.box-content {
  overflow: hidden;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 78px;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: right 0.3s;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
}

.filter {
  position: relative;
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  z-index: 10;
}
.filter__content {
  background-color: #fff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  fill: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
  z-index: 1;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__summary:hover {
  scale: 1.05;
  text-shadow: 4px 4px 4px #cfc8c8;
}
.sort__heading {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
}
.sort__check {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  display: flex;
  gap: 9px;
  align-items: center;
  color: #636363;
  font-size: 14px;
  font-weight: 400;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}

.cart {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 128px;
}
.cart__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__right {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  align-self: center;
  width: 650px;
  box-shadow: 10px 10px 10px rgb(223, 219, 219);
  border-radius: 0;
}
.card__img {
  height: 100%;
}
.card__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 22px;
  padding-left: 32px;
}
.card__title {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #222;
  font-size: 24px;
  font-weight: 400;
}
.card__close {
  position: absolute;
  top: 28px;
  left: 600px;
}
.card__text {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #575757;
  font-size: 22px;
  font-weight: 400;
}
.card__text_color {
  color: #F16D7F;
}
.card__input {
  padding-left: 16px;
  border: 1px solid #EAEAEA;
  outline: none;
  width: 44px;
  margin-left: 24px;
}
.card__input_wrapper {
  display: flex;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-buttons__btn {
  border: 1px solid #A4A4A4;
  background-color: #fff;
  padding: 17px 40px;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #000;
  font-size: 14px;
  font-weight: 300;
}
.cart-buttons__btn:hover {
  scale: 1.02;
  box-shadow: 7px 7px 7px rgb(223, 219, 219);
  transition: 0.2s;
}

.cart-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-form__title {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.cart-form__input {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  padding: 13px 16px 16px 17px;
  outline: none;
}
.cart-form__input:hover {
  scale: 1.01;
  transition: 0.2s;
}
.cart-form__btn {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 300;
  border: 1px solid #4A4A4A;
  padding: 10px 14px 12px;
  background-color: #FFFFFF;
  max-width: 101px;
}
.cart-form__btn:hover {
  scale: 1.02;
  box-shadow: 7px 7px 7px rgb(223, 219, 219);
}

.cart-total {
  background: #F5F3F3;
  padding: 39px 34px 42px 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart-total__subtitle {
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 12px;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
}
.cart-total__subtitle_margin {
  margin-left: 25px;
}
.cart-total__title {
  color: #222;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 17px;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
}
.cart-total__title_color {
  margin-left: 25px;
  color: #F16D7F;
}
.cart-total__line {
  border-bottom: 2px solid #E2E2E2;
  margin-bottom: 21px;
}
.cart-total__btn {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  background: #F16D7F;
  padding: 15px 43px;
  border: none;
}
.cart-total__btn:hover {
  scale: 1.02;
  box-shadow: 7px 7px 7px rgb(219, 168, 168);
  transition: 0.2s;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .cart {
    flex-direction: column;
    gap: 64px;
  }
  .cart__right {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .cart-form__input {
    width: 360px;
  }
  .cart-total {
    width: 360px;
    height: 214px;
  }
  .cart-total__btn {
    padding: 15px 20px;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  .card {
    width: 350px;
  }
  .card__desc {
    padding-top: 14px;
    padding-left: 22px;
  }
  .card__img {
    width: 143px;
  }
  .card__title {
    font-size: 16px;
  }
  .card__text {
    font-size: 14px;
  }
  .card__text_color {
    font-size: 14px;
  }
  .card__close {
    width: 10px;
    top: 14px;
    left: 326px;
  }
  .cart {
    flex-direction: column;
    gap: 64px;
    padding-bottom: 96px;
  }
  .cart__right {
    flex-direction: column;
    align-items: center;
  }
  .cart-buttons {
    gap: 9px;
  }
  .cart-buttons__btn {
    padding: 9px 17px;
    font-size: 12px;
  }
  .cart-form__input {
    width: 350px;
  }
  .cart-total__btn {
    padding: 15px 30px;
  }
}
.registration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 96px;
  align-items: flex-start;
  gap: 20px;
}
.registration__left {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.registration__label {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #222;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}
.registration__input {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid #A4A4A4;
  padding: 12px 16px 15px;
  margin-bottom: 20px;
}
.registration__input:hover {
  scale: 1.01;
  box-shadow: 5px 5px 5px rgb(223, 219, 219);
  transition: 0.15s;
  outline: none;
}
.registration__input:focus {
  outline: none;
}
.registration__radio {
  display: flex;
  margin-top: 15px;
  margin-bottom: 25px;
}
.registration__text {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}
.registration__btn {
  max-width: 167px;
  margin-top: 39px;
  padding: 16px 29px;
  background-color: #F16D7F;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  border: none;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
}
.registration__btn_svg {
  margin-left: 20px;
}
.registration__btn:hover {
  scale: 1.02;
  box-shadow: 7px 7px 7px rgb(217, 166, 166);
}
.registration__btn:focus {
  outline: none;
}
.registration__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 650px;
}
.registration__description {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  list-style-type: none;
}
.registration__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0;
}
.registration__list_li::before {
  content: url('data:image/svg+xml,<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z" fill="black"/></svg>');
  margin-right: 23px;
}

.gender {
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #000;
  font-size: 11px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 20px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .registration {
    padding-top: 40px;
    gap: 22px;
  }
  .registration__description {
    font-size: 16px;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  .registration {
    flex-direction: column;
    gap: 40px;
  }
  .registration__description {
    font-size: 16px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.container {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  margin: 0 auto;
  max-width: 1140px;
}

.header {
  background-color: #222222;
  padding-top: 19px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 41px;
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

nav.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  margin-right: 20px;
}

.main {
  display: flex;
}

.main-right {
  background: #F1E4E6;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 64px;
}

.main-pic {
  width: 50vw;
}

.main-title {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.main-black {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-pink {
  color: #F16D7F;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.catalog {
  margin-top: 65px;
  margin-bottom: 90px;
}

.top-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.square-link {
  text-decoration: none;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
}

.square-link:hover {
  opacity: 1;
}

.women {
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)), url(img/woman.png);
}

.link-text {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link-title {
  color: #F16D7F;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.man {
  background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)), url(img/man.png);
}

.kids {
  background-position: center;
  background-size: cover;
  background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)), url(img/kids.png);
}

.bottom-part {
  background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)), url(img/accesories.png);
  padding-top: 65px;
  padding-bottom: 65px;
  width: 100%;
  opacity: 0.85;
}

.bottom-part:hover {
  opacity: 1;
}

.bottom-link {
  text-decoration: none;
}

.list {
  padding-bottom: 60px;
}

.list-title {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 6px;
}

.small-dsc {
  text-align: center;
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 47px;
}

.list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 48px;
}

.item {
  max-width: 360px;
  position: relative;
}
.item__btn {
  border: 1px solid #FFFFFF;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  padding: 13px;
  margin-left: 12px;
  position: absolute;
  top: 188px;
  left: 111px;
  z-index: 10;
  display: none;
  background: transparent;
  cursor: pointer;
}
.item__svg {
  margin-right: 12px;
}

.item:hover {
  box-shadow: 5px 5px 7px rgb(168, 165, 165);
}

.item:hover .item-picture {
  filter: brightness(0.5);
}

.item:hover .item__btn {
  display: flex;
  align-items: center;
}

.item-discription {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #F8F8F8;
}

.item-title {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item-title:hover {
  scale: 1.01;
  text-shadow: 5px 5px 5px rgb(134, 130, 130);
}

.xs-dsc {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price:hover {
  text-shadow: 3px 3px 3px #d49da4;
}

.center_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px #FF6A6A solid;
  padding: 15px 39px;
  background: #FFFFFF;
}

.btn:hover {
  color: #FFFFFF;
  background: #F26376;
}

.product-info {
  background: rgb(34, 34, 36);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
}

.info-card:hover {
  scale: 1.03;
}

.info-title {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 28px;
  margin-bottom: 16px;
}

.info-p {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cart_container {
  display: none;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 96px;
}
.cart_container__title {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 96px;
}

.subscribe {
  background: linear-gradient(rgba(254, 254, 254, 0.311), rgba(255, 254, 254, 0.269)), url("./img/subscribe-bg.png");
  padding-top: 96px;
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
}

.subscribe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
}

.subscribe-text {
  margin-top: 30px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.italic {
  font-style: italic;
}

.subscribe-title {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe-sm {
  font-size: 18px;
  font-weight: 400;
}

.form {
  margin-top: 39px;
  display: flex;
}

.email__input {
  background-color: #E1E1E1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  padding: 10px;
  padding-right: 50px;
  outline: none;
  border: none;
}

.submit__btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #F16D7F;
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.submit__btn:hover {
  scale: 1.04;
}

.submit__btn:active {
  transform: scale(0.95);
}

.footer {
  background: #222224;
  padding: 24px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft-text {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icons {
  display: flex;
  gap: 7.29px;
}

.ft-icon {
  width: 32px;
  height: 32px;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.ft-icon:hover {
  background-color: #F16D7F;
}

.ft-icon:active {
  transform: scale(0.9);
}

.ft-icon:hover path {
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .main-title {
    color: #222;
    font-family: Lato;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 16px;
  }
  .main-black {
    color: #222;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .main-pink {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .square-link {
    max-height: 167px;
  }
  .list-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .item__none {
    display: none;
  }
  .list-title {
    margin-bottom: 3px;
  }
  .small-dsc {
    margin-bottom: 73px;
  }
  .info-card {
    max-width: 360px;
  }
  .product-info {
    flex-direction: column;
    gap: 48px;
  }
  .subscribe-card {
    width: 360px;
  }
  .subscribe {
    padding-bottom: 140px;
    flex-direction: column;
    gap: 48px;
    padding-top: 60px;
  }
  .footer {
    padding: 24px 3%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  .user, .cart-icon, .main-pic {
    display: none;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #F1E4E6;
  }
  .main-right {
    justify-content: center;
  }
  .main-title {
    font-size: 38px;
    line-height: 26px;
  }
  .main-black, .main-pink {
    font-size: 20px;
  }
  .top-part {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .square-link {
    max-width: 343px;
    width: 100%;
  }
  .bottom-part {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }
  .list-items {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 40px;
  }
  .item-picture {
    max-width: 89vw;
  }
  .product-info {
    flex-direction: column;
    gap: 48px;
  }
  .info-card {
    max-width: 340px;
  }
  .subscribe-card {
    min-width: 343px;
  }
  .subscribe {
    flex-direction: column;
    gap: 48px;
  }
  .subscribe {
    padding-top: 64px;
    padding-bottom: 109pxpx;
  }
  .subscribe-text {
    font-size: 18px;
  }
  .subscribe-title {
    line-height: 153.2%;
  }
  .subscribe-sm {
    font-size: 14px;
    line-height: 153.2%;
  }
  .ft_none {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */