* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}
.header {
    background-color: #222222;
    padding: 20px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-right: 40px;
}
.right-side {
    display: flex;
    gap: 20px;
}


.main {
    background: #F1E4E6;
}
.flex-main {
    display: flex;
}
.main-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main-pic{
    width: 50vw;
}
.main-title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 16px;
}
.main-black {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main-pink {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.catalog {
    margin-top: 65px;
    margin-bottom: 90px;
}
.top-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}
.square-link {
    text-decoration: none;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.women {
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)),
    url(img/woman.png);
}
.link-text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.link-title {
    color: #F16D7F;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.man {
    background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)), url(img/man.png);
}
.kids {
    background-position: center;
    background-size: cover;
    background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)), url(img/kids.png);
}
.bottom-part {
    background: linear-gradient(rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 0.5)), url(img/accesories.png);
    padding-top: 65px;
    padding-bottom: 65px;
    width: 100%;
}
.bottom-link {
    text-decoration: none;
}


.list {
    padding-bottom: 60px;
}
.list-title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 6px;
}
.small-dsc {
    text-align: center;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 47px;
}
.list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 48px;
}
.item {
    max-width: 360px;
}
.item-discription{
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F8F8F8;
}
.item-title {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.xs-dsc {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn{
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px #FF6A6A solid;
    padding: 15px 39px;
    background: #FFFFFF;
}
.center{
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 734px;
    }
    .logo {
        margin-right: 40px;
    }
    .main-pic{
        min-width: 386px;
    }
    .main-title {
        color: #222;
        font-family: Lato;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-left: 16px;
    }
    .main-black {
        color: #222;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .main-pink {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .square-link {
        max-height: 167px;
    }

    .list-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .list-title {
        margin-bottom: 3px;
    }
    .small-dsc {
        margin-bottom: 73px;
    }
}