
@media screen and (min-width: 320px) and (max-width: 767px) {
    .container{
        padding: 0 3%;
    }
    .user, .cart, .main-pic{
        display: none
    }
    .flex-main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .top-part{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
    .square-link{
        max-width: 343px;
        width: 100%;
    }
    .bottom-part {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
    }
    .list-items {
        grid-template-columns: 1fr;
        gap: 16px;
        margin-bottom: 40px;
    }
    .item-picture{
        max-width: 89vw;
    }
}